<div class="form-group">
    <label for="name">Food Item</label>
    <input required value="<%= calorie.name %>" type="text" name="name" id="name" class="form-control">
</div>
<div class="form-group">
    <label for="calorie">Calories</label>
    <input required value="<%= calorie.calorie %>" type="text" name="calorie" id="calorie" class="form-control">
</div>
<div class="form-group">
    <label for="sodium">Sodium</label>
    <input required value="<%= calorie.sodium %>" type="text" name="sodium" id="sodium"" class="form-control">
</div>
<div class="form-group">
    <label for="protein">Protein</label>
    <input required value="<%= calorie.protein %>" type="text" name="protein" id="protein" class="form-control">
</div>

<a href="/" class="btn btn-secondary">Cancel</a>
<button type="submit" class="btn btn-primary">Save</button>